@model TallinnaRakenduslikKolledzKaur.Models.Delinquent
@{
	ViewData["Title"] = "Uus Delinquent";
}
<h1>Tee uus delinquent</h1>
<h4>Sisesta info:</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<!--<div>
				<label asp-for="CourseId" class="control-label"></label>
				<input asp-for="CourseId" class="form-control" />
				<span asp-validation-for="CourseId" class="text-danger"></span>
			</div> -->
			<div>
				<label asp-for="FirstName" class="control-label"></label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div>
				<label asp-for="LastName" class="control-label"></label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div>
				<label asp-for="Violations" class="control-label"></label>
				<input asp-for="Violations" class="form-control" />
				<span asp-validation-for="Violations" class="text-danger"></span>
			</div>
			<div>
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div>
				<label asp-for="Position" class="control-label"></label>
				<input asp-for="Position" class="form-control" />
				<span asp-validation-for="Position" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Tee uus" class="btn btn-primary" /> | <a asp-action="Index" class="btn btn-outline-primary">Tühista</a>
			</div>
		</form>
	</div>
</div>